<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="card">
      <h5 class="card-header">Dentist Booking Form</h5>
      <div class="card-body" *ngIf="!isLoading else loading">
        <div class="col-md-8 offset-md-2">
          <app-procedure-detail [procedures]="procedures" [doctors]="doctors"
                                (submit)="save($event)"></app-procedure-detail>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <div class="m-5">Loading...</div>
  </ng-template>
</div>
